.checkbox {
  display: flex;
  justify-content: center;
  // position: relative;
  // align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .checkbox__lable span {
    background-color: $colorSecondary;
    border: none;
  }

  &:focus + .checkbox__lable span {
    border-radius: 2px;
    border: 2px solid $colorSecondary;
  }

  &:checked + .checkbox__lable .checkbox__icon {
    fill: $bgColorPrimary;
  }
}

.checkbox__lable {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: $colorTertiary;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }

  & span {
    width: 16px;
    height: 15px;
    border: 2px solid $colorPrimary;
    border-radius: 2px;
    align-items: center;
    justify-content: center;

    margin-right: 7px;
  }
}

.checkbox__icon {
  fill: transparent;
}

.checkbox__terms {
  color: $colorSecondary;

  // margin-left: 3px;
  // text-decoration: none;
  // background-image: linear-gradient(currentColor, currentColor);
  // background-position: 0% 90%;
  // background-repeat: no-repeat;
  // background-size: 100% 1px;
}
