.page-footer {
  color: $colorHero;
  background-color: $bgColorSecondary;
  padding: 60px 0px;
  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .container--tablet {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (min-width: $desktop) {
  .container--desktop {
    flex-wrap: nowrap;
  }
  .page-footer__item {
    text-align: start;
  }
  .page-footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 70px;
  }
  .page-footer__item:last-child {
    margin-left: auto;
  }
}

.page-footer--display {
  //   display: flex;
  //   flex-direction: column;
  //   justify-items: center;
  //   align-items: center;
  //   flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.page-footer__logo {
  color: $colorHero;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
  //   text-align: center;

  &:visited {
    color: inherit;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
    display: block;
  }

  .page-footer__logo--secondary {
    color: $colorSecondary;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.address__text {
  margin-bottom: 9px;
}

.address__link {
  color: $ColorFooterLink;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: $colorSecondary;
  text-decoration: none;
}

.address__list {
  list-style-type: none;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
